{% extends "base.html" %}
{% block content %}
    <body>
      <form method="post" action="/fileupload" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="email" name="user1" id="user1">
            <input type="email" name="user2" id="user2">
            <input type="email" name="user3" id="user3">
            <input type="email" name="user4" id="user4">
            <input type="email" name="user5" id="user5">
            <input type="submit" value="Upload and Send file">
        </form>
    </body>
{% endblock %}